@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Iryna - changes dafualt body background */
body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  background-color: #9c9a9a;
}
/* made change in '.menu' for box-shadow, opacity, border-radius, width, text-align */
.menu {
  position: fixed;
  z-index: 1000;
  width: 210px;
  background: #1b1a1a;
  border-radius: 8px;
  display: none;
  list-style: none;
  text-align: center;
  box-shadow: 2px 2px 5px 1px #1a1515;
  opacity: 0.6;
}

.menu.open {
  display: block;
}
/* Iryna - made changes '.menu-item' for padding, color */
.menu .menu-item {
  padding: 8px 4px 8px 4px;
  font-size: 1rem;
  color: #d5d2d2;
  cursor: pointer;
  transition: background-color .2s ease-in;
  /*border-radius: inherit;*/
  border-bottom: 0.5px solid rgb(82, 54, 54);
}
/* Iryna - made changes in hover for color, font-size */
.menu .menu-item:hover {
  background: #343434;
}
/*Iryna - added last-child to remove border-bottom  */
.menu-item:last-child {
  border-bottom: none;
}
/* timer */

.create-timer {
  max-width: 280px;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

/*   border: 2px solid #00ff00; */
  border: 2px solid #9bef9b;
  border-radius: 20px;

/*   color: #00ff00; */
  color: #9bef9b;
  background-color: #343434;
  opacity: 0.8;
}

.form__group {
  display: flex;
  flex-direction: column;

  margin-bottom: 14px;
}

.form__label {
  margin-bottom: 4px;
}

.form__input {
  width: 250px;
  padding: 5px;

  border: none;
/*   border-bottom: 1px solid #00ff00; */
  border-bottom: 1px solid #5bfa5b;
  outline: none;

/*   color: #007000; */
  color: #2d752d;
  background-color: transparent;
}

.form__input:focus {
/*   color: #00ff00; */
   color: #25cb25;
}

.btn {
  display: block;
  padding: 5px;

  border: none;
  border-radius: 5px;

  font-size: 16pz;
  text-transform: uppercase;
  font-weight: 600;

/*   color: #007000; */
  color: #007000;
}

.btn:hover {
  cursor: pointer;

  color: #00ff00;
  background-color: #707070;
}

.timer__container {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
/*   max-width: 150px; */
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

/*   border: 2px solid #00ff00; */
  border: 2px solid #9bef9b;
  border-radius: 20px;

  font-size: 36px;

/*   color: #00ff00;
  background-color: #343434; */
  color: #9bef9b;
  background-color: #343434;
}

/* message module */

.message__container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
/* Iryna - added */
  margin-top: 20px;
  margin-left: 20px;
  width: 350px;
  height: auto;

/*   border: 2px solid #00ff00; */
  border: 2px solid #83c783;
  border-radius: 20px;

  font-size: 40px;

/*   color: #00ff00; */
  color: #639063;
  background-color: #343434;

  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.message__container.show {
  opacity: 1;
}

.message__text {
  margin: 0;
  font-size: 40px;
}
